@model IEnumerable<GameListViewModel>
@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new Game</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Developer</th>
            <th>Publisher</th>
            <th>Price</th>
            <th>PEGI</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Title</td>
                <td>@game.GenreName</td>
                <td>@game.ReleaseDate.ToString("dd-MM-yyyy")</td>
                <td>@game.DeveloperName</td>
                <td>@game.PublisherName</td>
                @if(game.Price == 0)
                {
                    <td>Free</td>
                } else
                {
                    <td>@game.Price.ToString("0.00")</td>
                }
                <td>@game.PegiAge</td>
                <td>
                    <a asp-action="Details" asp-route-id="@game.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@game.Id">Edit</a> |
                    <form method="post"
                          asp-controller="Game"
                          asp-action="Delete"
                          asp-route-id="@game.Id"
                          onsubmit="return confirm('Are you sure you want to delete this game? This cannot be undone.');"style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>